{% extends "template.html" %} {% block title %} About {% endblock %}

{% block content %} 

<h1> About </h1>

<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1>

  <style>
  .scroll-card {
    height: 400px; /* or whatever you want */
    overflow-y: auto;
  }
</style>

<div class="row g-1"> <!-- g-1 reduces Bootstrap gutter spacing -->
  <div class="col-sm-4">
    <div class="card scroll-card">
      <div class="card-body">
        <h4>Project One</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
          aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt,
          dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card scroll-card">
      <img class="card-img-top" src="https://via.placeholder.com/700x400" alt="">
      <div class="card-body">
        <h4>Project Two</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
          odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card scroll-card">
      <div class="card-body">
        <h4>Project Three</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error
          quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure
          perspiciatis mollitia recusandae vero vel quam!</p>
      </div>
    </div>
  </div>
</div>

</div>
<!-- /.container -->

{% endblock %}