{% extends "template.html" %} {% block title %} Cookie Type {% endblock %}

{% block content %} 

<!-- Header-->
        <header class="masthead text-center text-black">
            <div class="masthead-content">
                <div class="container px-5" style="padding: 25px;">
                    <h1 class="masthead-heading mb-0 display-4">Cookie Type</h1>
                </div>
            </div>
        </header>

<style>
/* Only affect the combat types page */
.combat-page .toc {
  position: sticky;
  top: 80px; /* space for navbar */
  align-self: flex-start;
}

/* css for aesthetics */
.combat-page .toc {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}
</style>

<div class="row combat-page">
  <!-- Floating nav -->
  <div class="col-md-3">
    <div class="toc" style="background-color: #FFEBCC; text-align: center;">
      <h5>Contents</h5>
      <ul class="list-unstyled">
        <li><a href="#support">Support</a></li>
        <li><a href="#ambush">Ambush</a></li>
        <li><a href="#charge">Charge</a></li>
        <li><a href="#defense">Defense</a></li>
        <li><a href="#magic">Magic</a></li>
        <li><a href="#healing">Healing</a></li>
        <li><a href="#bomber">Bomber</a></li>
        <li><a href="#ranged">Ranged</a></li>
      </ul>
    </div>
  </div>     

    <!-- Main Content Area -->
    <main class="col-md-9 ms-sm-auto px-4">

      <!-- Support -->
      <section id="support" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Support</h3>
          <p class="text-justify">
            Support cookies don't typically deal high damage but are critical for keeping 
            your team effective; they apply buffs, remove debuffs, heal or shield teammates, 
            or otherwise enhance overall team performance.
          </p>
          <ul>
            <li>Moderate HP</li>
            <li>Moderate ATK</li>
            <li>Low DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/jagae">Jagae Cookie</a></li>
            <li><a href="/lime">Lime Cookie</a></li>
          </ul>
        </div>
      </section>

      <!-- Ambush -->
      <section id="ambush" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Ambush</h3>
          <p class="text-justify">
            Ambush cookies specialize in swift, high-impact strikes. Often surprising 
            enemies from the mid or back row with critical damage. They excel at taking 
            out key targets quickly, especially in PvP.
          </p>
          <ul>
            <li>Intangible while using skills</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/chili">Chili Pepper Cookie</a></li>
            <li><a href="/manju">Manju Cookie</a></li>
          </ul>
        </div>
      </section>

      <!-- Charge -->
       <section id="charge" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Charge</h3>
          <p class="text-justify">
            Charge cookies are aggressive frontliners that break into enemy lines and 
            often disrupt enemy positioning while dealing decent damage. They're ideal 
            for initiating combat and creating breathing room for your damage dealers 
            or healers.
          </p>
          <ul>
            <li>High HP</li>
            <li>Moderate ATK</li>
            <li>Moderate DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/gingerbrave">GingerBrave</a></li>
            <li>Cream Soda Cookie</li>
          </ul>
        </div>
      </section>

      <!-- Defense -->
       <section id="defense" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Defense</h3>
          <p class="text-justify">
            Defense cookies serve as the team's tank, absorbing damage and protecting 
            fragile allies with high HP and defense. They are essential in maintaining 
            frontline presence and team survivability. With both DMG absorption and buff
            supplying for allies.
          </p>
          <ul>
            <li>High HP</li>
            <li>Low ATK</li>
            <li>High DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/strawberry">Strawberry Cookie</a></li>
            <li>Fettuccine Cookie</li>
          </ul>
        </div>
      </section>

      <!-- Magic -->
       <section id="magic" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Magic</h3>
          <p class="text-justify">
            Magic cookies wield powerful arcane abilities, often dealing significant 
            AoE or single-target burst damage from mid to back rows. Their versatility 
            makes them attackers who can manipulate battles but tend to be fragile.
          </p>
          <ul>
            <li>Low HP</li>
            <li>High ATK</li>
            <li>Low DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/wizard">Wizard Cookie</a></li>
            <li>Shadow Milk Cookie</li>
          </ul>
        </div>
      </section>

      <!-- Healing -->
       <section id="healing" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Healing</h3>
          <p class="text-justify">
            Healer cookies restore teammates' health and often clear status ailments or 
            apply shields to sustain the team in prolonged fights. They ensure your team 
            stays alive through tough PvE or PvP battles.
          </p>
          <ul>
            <li>Moderate HP</li>
            <li>Low ATK</li>
            <li>Low DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li><a href="/custard">Custard Cookie III</a></li>
            <li>Herb Cookie</li>
          </ul>
        </div>
      </section>

      <!-- Bomber -->
       <section id="bomber" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Bomber</h3>
          <p class="text-justify">
            Bomber cookies deliver explosive attacks or widespread damage and sometimes 
            inflict debuffs like stun or poison. They're effective at handling clustered 
            enemies and controlling crowds.
          </p>
          <ul>
            <li>Area Damage</li>
            <li>Low HP</li>
            <li>High ATK</li>
            <li>Low DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li>Cherry Cookie</li>
            <li>White Lily Cookie</li>
          </ul>
        </div>
      </section>

      <!-- Ranged -->
       <section id="ranged" class="card mb-4" style="background-color: #FFEBCC;">
        <div class="card-body">
          <h3 class="card-title text-center">Ranged</h3>
          <p class="text-justify">
            Ranged cookies fire from afar, landing multiple attacks over time while 
            staying safe in the backline. Their steady DPS output is reliable and often 
            provides sustained pressure on enemies.
          </p>
          <ul>
            <li>Low HP</li>
            <li>Moderate ATK</li>
            <li>Moderate DEF</li>
          </ul>
          <h5>Example Cookies:</h5>
          <ul>
            <li>Pavlova Cookie</li>
            <li>Pastry Cookie</li>
          </ul>
        </div>
      </section>

    </main>
  </div>
</div>

{% endblock %}