{% extends "template.html" %} {% block title %} Cookies {% endblock %}



{% block content %} 

<!-- Header-->
        <header class="masthead text-center text-black">
            <div class="masthead-content">
                <div class="container px-5" style="padding: 25px;">
                    <h1 class="masthead-heading mb-0">Cookies</h1>
                </div>
            </div>
        </header>
    <!--Style-->
    <style>
        body {
            background-color: #F5DBB4;
        }
    </style>
        <!-- Content section 1-->
        <section id="scroll">
        <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/jagae_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Jagae Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/jagae" class="btn btn-primary">Visit Her Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/lime_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Lime Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/lime" class="btn btn-primary">Visit Her Page</a>
                        </div>
                    </div>
                </div>
               <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/manju_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Manju Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/manju" class="btn btn-primary">Visit His Page</a>
                        </div>
                    </div>
               </div>
               <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/gingerbrave1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Gingerbrave</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/gingerbrave" class="btn btn-primary">Visit His Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/strawberry_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Strawberry Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/strawberry" class="btn btn-primary">Visit Her Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/wizard_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Wizard Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/wizard" class="btn btn-primary">Visit His Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/chili_pepper_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Chili Pepper Cookie</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/chili" class="btn btn-primary">Visit Her Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-bottom: 20px;">
                            <img src="static/assets/img/custard_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h5 class="card-title">Custard Cookie III</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/custard" class="btn btn-primary">Visit His Page</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                        <div class="card-body" style="background-color: #FFEBCC; margin-top: 35px;">
                            <img src="static/assets/img/wip1.webp" class="img-fluid" style="height: 300px" alt="..." />
                            <h3 class="card-title">More Cookies Coming Soon...</h5>
                            <p class="card-text">Work in progress!</p>
                        </div>
                    </div>
                </div>
        </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


{% endblock %}