{% extends "template.html" %} {% block title %} Home {% endblock %}



{% block content %} 

        <!-- Content section 1-->
        <section id="scroll">
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 offset-lg-3 text-center">
                        <div class="p-5 text-center">
                            <h2 class="display-4">Cookie Run: Kingdom</h2>
                            <p>Cookie Run: Kingdom is Devsisters' eighth game 
                                in the Cookie Run series, releasing officially 
                                on January 21st, 2021.</p>
                            <p>It differs from the original's runner gameplay 
                                by incorporating real-time battle tactics and 
                                city-building, as well as a diverse cast of distinct 
                                Cookies and a customisable Kingdom.</p>
                            <p><em>This website is inspired by the Fandom Wiki site; 
                                credits to the <a href=https://cookierunkingdom.fandom.com/wiki/Cookie_Run:_Kingdom_Wiki>Cookie Run: Kindom Wiki</a> 
                                for the style and content presented.</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center" style="background-color: #F5DBB4;">
                     <div class="card-body" style="background-color: #FFEBCC;">
                        <img src="static/assets/img/jagae_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                        <h5 class="card-title">Jagae Cookie</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/jagae" class="btn btn-warning">Visit Her Page</a>
                    </div>
                    </div>
                </div>
            <div class="col-sm-4">
                <div class="card text-center" style="background-color: #F5DBB4;">
                    <div class="card-body" style="background-color: #FFEBCC;">
                        <img src="static/assets/img/lime_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                        <h5 class="card-title">Lime Cookie</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/lime" class="btn btn-warning">Visit Her Page</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center" style="background-color: #F5DBB4;">
                    <div class="card-body" style="background-color: #FFEBCC;">
                        <img src="static/assets/img/manju_cookie1.webp" class="img-fluid" style="height: 300px" alt="..." />
                        <h5 class="card-title">Manju Cookie</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/manju" class="btn btn-warning">Visit His Page</a>
                    </div>
                </div>
            </div>
        </div>
        </section>
        
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>


{% endblock %}