html, body {
  height: 100%;
  margin: 0; /* remove default spacing */
}
body {
  display: flex;
  flex-direction: column;
}
a {
    color: #A58B68;
}
li {
    color: #49565b;
}
footer {
    width: 100%;
}
.content {
  flex: 1; /* pushes footer down when content is short */
}
.banner {
    background-color: #969696;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side-nav {
position: sticky;
top: 20px;
padding: 1rem;
background-color: #fff3e0;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.cookie-info {
display: flex;
gap: 2rem;
align-items: flex-start;
}
.cookie-info img {
max-width: 250px;
border-radius: 10px;
}
.cookie-main {
flex: 1;
}
.content-section {
margin-bottom: 3rem;
}
.cooldown {
    font-size: 12px;
    margin-bottom: 1px;
}
.game-content{
    font-style: italic;
    text-align: justify;
    margin-bottom: 2px;
}
.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.about-page main {
    flex: 1;
}
.card {
    margin-top: 20px;
    background-color: #FFEBCC;
}
.dmg-stats {
    font-style: italic;
    font-size: 14px;
}
.skill-subhead {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 3px;
}